<footer class="bg-darkBlue text-center text-light text-lg-start pt-4 px-5">
    <div class="container-fluid p-4">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0">
          <div class="footer-img">
          <img
          src="https://www.pentanasolutions.com/images/logo-footer.svg"
          alt="Banner Image"
          class="img-fluid banner-img"
        />
      </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-4">
              Our Services
            </div>
            <div class="col-4">
              Who we serve
            </div>
            <div class="col-4">
              Our Company
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0 d-grid justify-content-end">
          <div>
            <a class="btn btn-danger btn-lg btn-block mb-3 w-100" href="/contact" role="button"
            >Contact Us</a
            >
          </div>
          <div>
          <a class="btn btn-outline-danger btn-lg btn-block w-100" href="https://www.pentanasolutions.com/customer-service-portal" role="button"
          >Customer Service Portal</a
          >
          </div>
          </div>
      </div>
    </div>
  
    <div class="text-center pt-5 pb-2">
      <a class="text-subfooter" target="_blank" href="/">© Pentana Solutions 2024. All Rights Reserved</a>
    </div>
  </footer>
  